<div style="margin: -32px; padding: 32px; height: 100%; width: 100%; display: flex;align-items: center;justify-content: center; background-color: #14253D">
    <div class="text-center" style="
                    width: 60%;
                    border: #B6893A;
                    border-width: 1px;
                    border-radius: 5px;
                    border-style: solid;
                    padding: 10px;
                    font-family: Roboto, Helvetica, Arial, sans-serif;
                    color: #EBE0CB">
        <h2>Password reset complete</h2>
        <p style="font-weight: 200; font-size: 1.333rem">
            Your Password has been set. You may go ahead and login
        </p>
        <br/>
        <div class="text-center">
            <a href="https://league-netstats.ethz.ch/login/">Login</a>
        </div>
    </div>
</div>
