

.site {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


main {
    flex: 1;
    display: flex!important;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex!important;
    flex-direction: column;
}

nav {
    background-color: black;
}

.signup-grid {
    flex: 1;
}

.filepicker {
    width: 200px;
}

.MenuDrawer-root-1 {
    height: 0px;
}

.resize-triggers {
    height: min-content;
    width: min-content;
}